{% import '@SyliusUi/Macro/messages.html.twig' as messages %}
{% import '@SyliusUi/Macro/pagination.html.twig' as pagination %}

{{ sonata_block_render_event('sylius.shop.product.index.before_search', {'products': resources.data}) }}

{% include '@SyliusShop/Product/Index/_search.html.twig' %}

{{ sonata_block_render_event('sylius.shop.product.index.after_search', {'products': resources.data}) }}

{% include '@SyliusShop/Product/Index/_pagination.html.twig' %}
{% include '@SyliusShop/Product/Index/_sorting.html.twig' %}

<div class="ui clearing hidden divider"></div>

{{ sonata_block_render_event('sylius.shop.product.index.before_list', {'products': resources.data}) }}

{% if resources.data|length > 0 %}
    <div class="ui three cards" id="products">
        {% for product in resources.data %}
            {% include '@SyliusShop/Product/_box.html.twig' with {'form': forms[loop.index - 1]} %}
        {% endfor %}
    </div>
    <div class="ui hidden divider"></div>

    {{ sonata_block_render_event('sylius.shop.product.index.before_pagination', {'products': resources.data}) }}

    {{ pagination.simple(resources.data) }}
{% else %}
    {{ messages.info('sylius.ui.no_results_to_display') }}
{% endif %}

<script>
    function stopPropagationOnClickOfElementsWithClass(className) {
      const elements = document.getElementsByClassName(className);

      for (let i = 0; i < elements.length; i++) {
        const element = elements.item(i);
        element.onclick = (event) => {
          event.stopPropagation();
        }
      }
    }

    stopPropagationOnClickOfElementsWithClass('nedac-sylius-order-now-plugin-number-input');
    stopPropagationOnClickOfElementsWithClass('nedac-sylius-order-now-plugin-dropdown');

    const buttons = document.getElementsByClassName('nedac-order-now-button-container');

    for (let i = 0; i < buttons.length; i++) {
      const button = buttons.item(i);
      const form = button.firstElementChild;

      button.onclick = (event) => {
        form.submit();
      }
    }
</script>
